@use "vars";

.checkout {
    width: 100%;
    display: grid;
    place-items: center;
}

.title {
    font-size: var(--lg);
    margin-bottom: 40px;
}

.checkout-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 90%;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 80px auto 0;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    width: 100%;
    justify-self: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p span:nth-child(2) {
    font-size: var(--md);
    color: var(--very-light-pink);
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
