@use "vars";

.Orders {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 90px;
}

.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}

.Orders-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.Orders-container {
  display: flex;
  flex-direction: column;
}
